




.button {
    margin: 0 ;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: none;
    padding: 0px;

}

.upload {
    margin: 0 ;
    position: absolute;
    top: 70%;
    left: 64%;

    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff;
    text-decoration: none;
    border: none;
   border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 

}

.retake {
    margin: 0 ;
    position: absolute;
    top: 70%;
    left: 20%;

    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff;
    text-decoration: none;
    border: none;
   border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 

}