




.button {
    margin: 0 ;
    position: absolute;
    top: 70%;
    left: 44%

}

.upload {
    margin: 0 ;
    position: absolute;
    top: 70%;
    left: 66%

}

.retake {
    margin: 0 ;
    position: absolute;
    top: 70%;
    left: 22%

}