/* F5F5F5 = background colour */
/* Profile.css */



.responsive-image {
    max-width: 100%;
    max-height: 100%;
    
}

.ManualSample{
    /* display: flex; */
    position: absolute;
   width: 95%;
   height: 90%;

    /* justify-content: center;
    align-items: center;
    height: 100vh; */
}

.ManualConfirm {
    display: flex;
    justify-content: center;
}
.ManualSubmit {
    margin: 0 ;
    position: absolute;
    top: 82%;
    left: 38%;

    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 
}
