/* Navbar.css */
.navbar {
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 14px 16px;
  }
  
  /* Media query for mobile styles */
  @media only screen and (max-width: 768px) {
    .nav-links {
      flex-direction: row;
    }
  
    .nav-links li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  